$prefix: "";

$color-border: #CBD5E1 !default;
$color-input: #333; 
$color-background: #2B3B80;
$color-trans: rgb(36.55, 50.15, 108.8);

$radius: 8px !default;
$radius-small: 6px;
$padding: 0.6rem 1.5rem !default;

$header-title-font-size: 22px;

$font-family: 'Plus Jakarta Sans', sans-serif !default;
$font-size: 16px !default;
$font-size-smaller: 12px;
$font-size-small: 10px;
$transition: 0.2s ease !default;

$dropdown-text-top: 11px;
$dropdown-font-size: 14px !default;
$dropdown-max-height: 200px !default;

$input-group-padding: 8px !default;
$input-group-padding-small: 6px;
$input-group-btn-offset: 3.5px !default;
$input-group-btn-width: 90px !default;
$input-background: #FFFFFF !default;


$group-list-max-height: 456px !default;
$group-list-max-height-inner: 350px !default;
$group-list-heading-height: 40px !default;


$main-border: 1px solid #e4e4e7;
