$prefix: "wdd-";

$color-border: #CBD5E1 !default;

$radius: 6px !default;
$padding: 0.65em 1em !default;
$main-gradient: linear-gradient(91.29deg, #fff0ee, #d8eaff);

$header-title-font-size: 22px;

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size: 16px !default;
$font-size-smaller: 12px;
$font-size-small: 10px;
$transition: 0.2s ease !default;

$dropdown-text-top: 11px;
$dropdown-font-size: 14px !default;
$dropdown-max-height: 200px !default;

$input-group-padding: 19.5px !default;
$input-group-padding-small: 6px;
$input-group-padding-width: 103.5px !default;
$input-group-btn-offset: 3.5px !default;
$input-group-btn-width: 90px !default;
$input-background: #F8FAFC !default;


$group-list-max-height: 456px !default;
$group-list-max-height-inner: 350px !default;
$group-list-heading-height: 40px !default;


$main-border: 1px solid #e4e4e7;
